.ContainerLeft {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 7%;
}

.RainRate,
.Rain,
.Wind,
.Pressure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 3%; */
  background-color: #ebe3e3;
  width: 200px;
  height: 55px;
  border-radius: 30px;
}

.RainRateDesc,
.RainDesc,
.WindDesc,
.PressureDesc {
  margin: 0;
  padding-left: 10px;
}


.RainRateImage,
.waterImage,
.windImage {
  max-width: 50px;
  max-height: 45px;
  padding-left: 5%;
}

.pressureImage {
  max-width: 35px;
  max-height: 30px;
  padding-left: 5%;
}

.MainImage {
  max-width: 250px;
  max-height: 240px;
  padding-top: 5%;
}

.ContainerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 25%;
  padding-top: 2.5%;



}

.humiditylbl,
.Windlbl,
.Pressurelbl {}


.CurrentTemp {
  font-size: 45px;
}

.CityName,
.CurrentTempDesc {
  font-size: 25px;
  color: #9b9797;
  margin: 0;
}

.ContainerOfTheUpPart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url('../../public/Images/background.png');
  border-radius: 30px;
  height: 460px;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;

}

.SearchBar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.SearchInput {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  width: 270px;

}

.SearchIcon {
  font-size: 24px;
  margin-left: 10px;
  color: #555;
  cursor: pointer;
}


.SearchIcon:hover {
  color: #333;
}

.SearchBtn {
  max-width: 40px;
  max-height: 35px;
}

/*joyaa */

.main-division {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 270px;
  width: 1400px;
}


.hour-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 250px;
  background-color: rgb(248, 248, 205);
  border-radius: 40px;
  margin: 8px;
  text-align: center;
}

.hour-div p {
  font-size: x-large;
}


.weather-images {
  max-width: 100px;
  max-height: 95px;
  transition: transform 0.2s ease;
}

.weather-images:hover {
  transform: scale(1.2);

}

.temperature {
  font-size: 30px;
  padding-top: 8%;
}

@media (max-width: 768px) {
  .ContainerOfTheUpPart {
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100vw;
    height:150vh;
    gap: 5vh;
    margin-bottom: 5vh;
    
  }

  .MainImage {
    height: 15vh;
    margin-top: 3vh;
    
  }

  .ContainerLeft {
    padding: 0vw;
    flex-direction: column;
    max-width: 100vw;
    /* overflow: hidden; */
    height: 100vh;
  }

  .Rain,
  .Wind,
  .Pressure {
    border-radius: 50%;
    height: 100vh;
    width: 90vw;
  }

  .weatheritems {

    flex-direction: row;
    gap: 10vw;
  }

  .ContainerRight {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 0vw;
    max-height: 20vh;

  }


  .main-division {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100vw;
    height: auto;
  }

  .hour-div {
    width: 100vw;
    margin: 10px 0;
    height: 30vh;
    justify-content: space-between;
    padding-top: 3vw;
    padding-bottom: 3vw;

  }

  .SearchInput {
    width: 80%;
  }

  .SearchBar {
    width: 85%;
  }

  .weather-images {
    height: 50vh;
  }

  .temperature {
    padding-top: 0vh;
  }
}